.templates-film__img{
    width: 280px;
    height: 402px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.templates-film__description{
    margin: 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #000000;
}
.templates-film__text{
    color: rgba(255, 107, 8, 1);
}