.templates-film__img{
    width: 280px;
    height: 402px;
    border-radius: 5px;
    margin-bottom: 10px;
    @include tablet-screen{
        width: 395px;
        height: 574px;
        margin-bottom: 8px;
    }
    @include desktop-screen {
        width: 395px;
        height: 574px;
    }
}
.templates-film__description{
    margin: 0;
    font-weight: 500;
    font-size: 10.5px;
    line-height: 1.33;
    text-transform: uppercase;
    color: #000000;
    @include tablet-screen{
        font-size: 12px;
    }
}
.templates-film__text{
    color: rgba(255, 107, 8, 1);
}
.span:last-child{
    display: none;
}
.templates-film-flex{
    display: flex;
    align-items: center;
    gap: 8px;
}
.templates-film__rating{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 16px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    background: #FF6B01;
    border-radius: 5px;
    color: #FFFFFF;
    @include desktop-screen {
        width: 40px;
        height: 20px;
    }
}