.footer {
  background: #F7F7F7;
  padding-top: 28px;
  padding-bottom: 29px;


  @media screen and (min-width: 768px) {
   padding-top: 30px;
   padding-bottom: 30px;
   display: flex;
   justify-content: center;

  }
}

.footer__section {
  display: flex;
  justify-content: center

}

.footer__section-first{
  margin-bottom: 10px;
  @media screen and (min-width: 768px ) {
     margin-bottom: 0;
     margin-right: 3px;

   }

}

.footer__text {
  display: flex;


  font-size: 14px;
  line-height: 1.1;
  color: #545454;



  @media screen and (min-width: 768px) {

    font-size: 16px;
    line-height: 1.2;
  }

}

.footer__link {
  color: #545454;
  text-decoration: underline;

}

.footer__icon {
  margin-left: 10px;
  margin-right: 10px;
}


