.backdrop__modal {
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.56);
  transition: opacity 0.25s, visibility 0.25s;
  position: fixed;
  top: 0;
  display: flex;
  opacity: 1;
  visibility: visible;
  transition: all 0.8s ease 0s;
  overflow-y: auto;
  overflow-x: hidden;
  pointer-events: initial;
}

.backdrop__modal.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal__content {
  background-color: rgb(245, 235, 235);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 260px;
  height: 520px;
  padding: 45px 20px;
  overflow: auto;
  text-align: center;
  border-radius: 5%;
  @include tablet-screen {
    padding: 30px 60px;
    width: 700px;
    height: 520px;
    text-align: start;
  }
  @include desktop-screen {
    width: 900px;
    height: 600px;
  }
}

.modal__close {
  position: absolute;
  top: 1%;
  right: 1%;
  width: 30px;
  height: 30px;
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  &:hover,
  &:focus {
    color: #ff6b08;
    transition-property: transform;
    transition-duration: 200ms;
    &:hover,
    &:focus {
      transform: scale(1.08);
    }
  }
}

.modal__icon {
  fill: currentColor;
}
// .container__team {
// }

// .team {
// }

.team__title {
  text-align: center;
  margin-bottom: 10px;
  font-size: 25px;
  color: #ff6b08;
  margin-top: -10px;
}

// .team__developer {
//   text-align: center;
// }

.team__text {
  text-align: center;
  font-size: 25px;
  font-weight: 500;
  text-shadow: #9cccec 1px 0 5px;
  margin-bottom: 10px;
}

.team__list {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}

.team__item {
}

.team__photo {
  border-radius: 50%;
}

.team__descr {
}

.team__name {
  font-weight: 700;
  padding-top: 3%;
  padding-bottom: 3%;
  text-align: center;
  color: #ff6b08;
}

.team__position {
  font-weight: 700;
  padding-top: 3%;
  padding-bottom: 3%;
  text-align: center;
  text-shadow: #9cccec 1px 0 5px;
}

.developer {
}
