.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100vh;
  overflow: hidden;

  opacity: 1;
  pointer-events: initial;
  visibility: visible;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal__btn-close {
  position: absolute;
  top: 0;
  right: 0;

  width: 30px;
  height: 30px;

  border: none;
  padding: 0;
  background-color: transparent;

  cursor: pointer;
}


.modal {
  position: absolute;
  top: 25%;
  left: 25%;
  background-color: white;
  color: #000000;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3;
  margin-left: auto;
  margin-right: auto;
  max-width: 280px;
  width: 100%;
  padding: 48px 20px 40px 20px;


  @include tablet-screen {
    display: flex;
    max-width: 704px;
    padding: 40px 72px 40px 36px;

  }

  @include desktop-screen {
    display: flex;
    max-width: 806px;
    padding: 40px 12px;
  }

}
.modal__film-title{
  font-size: 20px;
  line-height: 1.2;
  text-transform: uppercase;
  margin-top: 20px;

  @include tablet-screen {
    margin-top: 0;
  }

  @include desktop-screen {
    font-size: 30px;
  }

}

.modal__list{
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style: none;
  margin-top: 20px;
}

.modal__item {
  display: flex;
}

.modal__category {
  color: #8C8C8C;
  width: 48%;
}
.modal__info {
  width: 48%;

  @include tablet-screen {
    width: 86%;
  }
}

.modal__film{
  font-size: inherit;
  margin-top: 20px;
  text-transform: uppercase;

}

.modal__film-describe{
  margin-top: 8px;
  line-height: 1.7;
}

.modal__btn {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;

  @include tablet-screen {
    display: flex;
    justify-content: flex-start;
    gap: 14px;
  }
}

.modal__btn-watched {
  display: block;
  width: 110px;
  border-radius: 5px;
  line-height: 1.2;
  text-transform: uppercase;
  padding: 6px 27px;
  border: transparent;
  background: #FF6B01;
  color: #FFFFFF;

  @include tablet-screen {
    width: 125px;
    padding: 14px 9px;

  }

  @include desktop-screen {
    width: 136px;
    padding: 14px 10px;
  }
}

.modal__btn-queue {
  display: block;
  width: 110px;
  border-radius: 5px;
  line-height: 1.2;
  text-transform: uppercase;
  padding: 13px 13px;
  border: 1px solid #000000;

  @include tablet-screen {
    width: 125px;
    padding: 14px 7px;


  }

  @include desktop-screen {
    width: 136px;
    padding: 14px 8px;
  }
}

.modal__img {
  @include tablet-screen {
    width: 50%;
  }

}

.modal__films {
  @include tablet-screen {
    width: 50%;
  }

}


.modal___img-movie{
  @include desktop-screen {
    width: 95%;
  }
}


