.modal__img {
  @include tablet-screen {
    width: 50%;
  }
}

.modal__img-movie {
  @include tablet-screen {
    width: 264px;
    height: 373px;
  }

  @include desktop-screen {
    width: 95%;
    height: 478px;
  }
}

.modal__film-title {
  font-size: 20px;
  line-height: 1.2;
  text-transform: uppercase;
  margin-top: 20px;

  @include tablet-screen {
    margin-top: 0;
  }

  @include desktop-screen {
    font-size: 30px;
  }
}

.modal__films {
  @include tablet-screen {
    width: 40%;
  }

  @include desktop-screen {
    width: 50%;
  }
}

.modal__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style: none;
  margin-top: 20px;
}

.modal__item {
  display: flex;
}

.modal__category {
  color: #8c8c8c;
  width: 48%;
}

.modal__info {
  width: 48%;

  @include tablet-screen {
    width: 60%;
  }
}

.modal__info-vote {
  background: #ff6b01;
  color: white;
  border-radius: 5px;
  padding: 1px 9px;
}

.modal__info-votes {
  background: #f7f7f7;
  border-radius: 5px;
  padding: 1px 4px;
}

.modal__film {
  font-size: inherit;
  margin-top: 20px;
  text-transform: uppercase;
}

.modal__film-describe {
  margin-top: 8px;
  line-height: 1.7;
}

.modal__btn {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;

  @include tablet-screen {
    display: flex;
    justify-content: flex-start;
    gap: 14px;
  }
}

.modal__btn-watched {
  display: block;
  width: 110px;
  border-radius: 5px;
  line-height: 1.2;
  text-transform: uppercase;
  padding: 6px 27px;
  border: 1px solid #000000;
  background: #ffffff;

  cursor: pointer;

  @include tablet-screen {
    width: 125px;
    padding: 14px 9px;
  }

  @include desktop-screen {
    width: 136px;
    padding: 14px 10px;
  }
  &:hover,
  :focus {
    transform: translateY(-2px);
  }
  &:active {
    transform: translateY(0px);
  }
}

.modal__btn-queue {
  display: block;
  width: 110px;
  border-radius: 5px;
  line-height: 1.2;
  text-transform: uppercase;
  padding: 13px 13px;
  border: 1px solid #000000;
  background: #ffffff;
  cursor: pointer;

  @include tablet-screen {
    max-width: 125px;
    padding: 14px 7px;
  }

  @include desktop-screen {
    width: 136px;
    padding: 14px 8px;
  }
  &:hover,
  :focus {
    transform: translateY(-2px);
  }
  &:active {
    transform: translateY(0px);
  }
}

.modal__btn-on {
  cursor: pointer;
  color: #ffffff;
  background-color: #ff6b01;
  border: transparent;
}
