
.posts{
display: flex;
flex-wrap: wrap;
gap: 30px;
}
.post {
    padding: 8px;
    border: 1px;
    border-color: bisque;
}
.paggination {
    display: flex;
    justify-content: center;
    
    &__list{
        display: flex;
        list-style-type: none;
    }
    &__item{
        padding: 8px;
        margin: 8px;
        cursor: pointer;
       
        &--active{
            font-weight: 800;
            color: #FF6B08;
        }
    }
   
}