.video-trailer {
  width: 782px;
  height: 400px;
}
.templates-film__trailer-btn {
  font-size: 15px;
  cursor: pointer;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid black;
  padding-top: 3px;
  padding-bottom: 3px;
}
