{{#each this}}
<li class="templates-film">
    <img class="templates-film__img" src="" alt="">
    <div class="templates-film__description">
        <h3 class="templates-film__main-text">rhtrthtrhrt</h3>
        <p class="templates-film__text">wefwefwf </p>
    </div>
</li>
{{/each}}