.gallery-container {
  padding-bottom: 40px;
  padding-top: 20px;

  @include tablet-screen {
    padding-bottom: 60px;
    padding-top: 60px;
  }
}

.gallery {
  height: 100%;
  display: grid;
  justify-content: center;
  grid-column-gap: 20px;
  grid-row-gap: 20px;

  margin-bottom: 40px;

  @include tablet-screen {
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    grid-template-columns: repeat(2, auto);

    margin-bottom: 60px;
  }
  @include desktop-screen {
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    grid-template-columns: repeat(3, auto);
  }
}
