<div
  class="backdrop js-auth-backdrop auth-modal-hidden"
  id="backdrop__modal"
  data-modal-backdrop
>
  <div class="modal js-auth-modal">
    <h1 class="auth-title">Please authorize to be able to access a web-site</h1>
    <input
      class="auth-input"
      type="email"
      placeholder="email here"
      id="email"
    />
    <input
      class="auth-input"
      type="password"
      placeholder="password here"
      id="password"
    />
    <div class="auth-btns">
      <button class="auth-btns-item" id="signUpBtn">Sign Up</button>
      <button class="auth-btns-item" id="signInBtn">Sign In</button>
    </div>
  </div>
</div>
