<section class="section">
  <div class="container">
    <ul class="gallery">
      <li class="gallery__item">
        <a href="#" class="gallery__link"
          ><img class="gallery__img" src="./images/photo-plug.jpg" alt="film" />
          <h2 class="gallery__title">GREYHOUND</h2>
          <p class="gallery__text">Drama, Action | 2020</p>
          <p class="gallery__info">10.0</p>
        </a>
      </li>
      <li class="gallery__item">
        <a href="#" class="gallery__link"
          ><img class="gallery__img" src="./images/photo-plug.jpg" alt="film" />
          <h2 class="gallery__title">GREYHOUND</h2>
          <p class="gallery__text">Drama, Action | 2020</p>
          <p class="gallery__info">10.0</p>
        </a>
      </li>
      <li class="gallery__item">
        <a href="#" class="gallery__link"
          ><img class="gallery__img" src="./images/photo-plug.jpg" alt="film" />
          <h2 class="gallery__title">GREYHOUND</h2>
          <p class="gallery__text">Drama, Action | 2020</p>
          <p class="gallery__info">10.0</p>
        </a>
      </li>
      <li class="gallery__item">
        <a href="#" class="gallery__link"
          ><img class="gallery__img" src="./images/photo-plug.jpg" alt="film" />
          <h2 class="gallery__title">GREYHOUND</h2>
          <p class="gallery__text">Drama, Action | 2020</p>
          <p class="gallery__info">10.0</p>
        </a>
      </li>
      <li class="gallery__item">
        <a href="#" class="gallery__link"
          ><img class="gallery__img" src="./images/photo-plug.jpg" alt="film" />
          <h2 class="gallery__title">GREYHOUND</h2>
          <p class="gallery__text">Drama, Action | 2020</p>
          <p class="gallery__info">10.0</p>
        </a>
      </li>
      <li class="gallery__item">
        <a href="#" class="gallery__link"
          ><img class="gallery__img" src="./images/photo-plug.jpg" alt="film" />
          <h2 class="gallery__title">GREYHOUND</h2>
          <p class="gallery__text">Drama, Action | 2020</p>
          <p class="gallery__info">10.0</p>
        </a>
      </li>
      <li class="gallery__item">
        <a href="#" class="gallery__link"
          ><img class="gallery__img" src="./images/photo-plug.jpg" alt="film" />
          <h2 class="gallery__title">GREYHOUND</h2>
          <p class="gallery__text">Drama, Action | 2020</p>
          <p class="gallery__info">10.0</p>
        </a>
      </li>
      <li class="gallery__item">
        <a href="#" class="gallery__link"
          ><img class="gallery__img" src="./images/photo-plug.jpg" alt="film" />
          <h2 class="gallery__title">GREYHOUND</h2>
          <p class="gallery__text">Drama, Action | 2020</p>
          <p class="gallery__info">10.0</p>
        </a>
      </li>
      <li class="gallery__item">
        <a href="#" class="gallery__link"
          ><img class="gallery__img" src="./images/photo-plug.jpg" alt="film" />
          <h2 class="gallery__title">GREYHOUND</h2>
          <p class="gallery__text">Drama, Action | 2020</p>
          <p class="gallery__info">10.0</p>
        </a>
      </li>
      <li class="gallery__item">
        <a href="#" class="gallery__link"
          ><img class="gallery__img" src="./images/photo-plug.jpg" alt="film" />
          <h2 class="gallery__title">GREYHOUND</h2>
          <p class="gallery__text">Drama, Action | 2020</p>
          <p class="gallery__info">10.0</p>
        </a>
      </li>
      <li class="gallery__item">
        <a href="#" class="gallery__link"
          ><img class="gallery__img" src="./images/photo-plug.jpg" alt="film" />
          <h2 class="gallery__title">GREYHOUND</h2>
          <p class="gallery__text">Drama, Action | 2020</p>
          <p class="gallery__info">10.0</p>
        </a>
      </li>
      <li class="gallery__item">
        <a href="#" class="gallery__link"
          ><img class="gallery__img" src="./images/photo-plug.jpg" alt="film" />
          <h2 class="gallery__title">GREYHOUND</h2>
          <p class="gallery__text">Drama, Action | 2020</p>
          <p class="gallery__info">10.0</p>
        </a>
      </li>
      <li class="gallery__item">
        <a href="#" class="gallery__link"
          ><img class="gallery__img" src="./images/photo-plug.jpg" alt="film" />
          <h2 class="gallery__title">GREYHOUND</h2>
          <p class="gallery__text">Drama, Action | 2020</p>
          <p class="gallery__info">10.0</p>
        </a>
      </li>
      <li class="gallery__item">
        <a href="#" class="gallery__link"
          ><img class="gallery__img" src="./images/photo-plug.jpg" alt="film" />
          <h2 class="gallery__title">GREYHOUND</h2>
          <p class="gallery__text">Drama, Action | 2020</p>
          <p class="gallery__info">10.0</p>
        </a>
      </li>
      <li class="gallery__item">
        <a href="#" class="gallery__link"
          ><img class="gallery__img" src="./images/photo-plug.jpg" alt="film" />
          <h2 class="gallery__title">GREYHOUND</h2>
          <p class="gallery__text">Drama, Action | 2020</p>
          <p class="gallery__info">10.0</p>
        </a>
      </li>
      <li class="gallery__item">
        <a href="#" class="gallery__link"
          ><img class="gallery__img" src="./images/photo-plug.jpg" alt="film" />
          <h2 class="gallery__title">GREYHOUND</h2>
          <p class="gallery__text">Drama, Action | 2020</p>
          <p class="gallery__info">10.0</p>
        </a>
      </li>
      <li class="gallery__item">
        <a href="#" class="gallery__link"
          ><img class="gallery__img" src="./images/photo-plug.jpg" alt="film" />
          <h2 class="gallery__title">GREYHOUND</h2>
          <p class="gallery__text">Drama, Action | 2020</p>
          <p class="gallery__info">10.0</p>
        </a>
      </li>
      <li class="gallery__item">
        <a href="#" class="gallery__link"
          ><img class="gallery__img" src="./images/photo-plug.jpg" alt="film" />
          <h2 class="gallery__title">GREYHOUND</h2>
          <p class="gallery__text">Drama, Action | 2020</p>
          <p class="gallery__info">10.0</p>
        </a>
      </li>
      <li class="gallery__item">
        <a href="#" class="gallery__link"
          ><img class="gallery__img" src="./images/photo-plug.jpg" alt="film" />
          <h2 class="gallery__title">GREYHOUND</h2>
          <p class="gallery__text">Drama, Action | 2020</p>
          <p class="gallery__info">10.0</p>
        </a>
      </li>
      <li class="gallery__item">
        <a href="#" class="gallery__link"
          ><img class="gallery__img" src="./images/photo-plug.jpg" alt="film" />
          <h2 class="gallery__title">GREYHOUND</h2>
          <p class="gallery__text">Drama, Action | 2020</p>
          <p class="gallery__info">10.0</p>
        </a>
      </li>
    </ul>
  </div>
</section>
