:root {
  --black: #000000;
  --orange: #ff6b01;
  --white: #ffffff;
  --greyWhite: #f7f7f7;
  --blackOrange: #ff4444;
  --yellow: #ffbb33;
  --green: #99cc00;
  --blue: #33b5e5;
  --grey: #555;
  --opacityBlack: rgba(0, 0, 0, 0.56);
  --opacityGrey: rgba(95, 92, 92, 0.62);
  --whiteBlue: #9cccec;
  --red: #ff001b;
}
