@include mob-screen {
  .header {
    isolation: isolate;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../images/tel-bkg.png');

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/tel-bkg@2x.png');
    }
  }
}
@include tablet-screen {
  .header {
    isolation: isolate;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../images/teblet-bkg.png');
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/teblet-bkg@2x.png');
    }
  }
}
@include desktop-screen {
  .header {
    background-image: url('../images/desktop-bkg.png');

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/desktop-bkg@2x.png');
    }
  }
}

// lib bkg
@include mob-screen {
  .header-lib-bkg {
    background-image: url('../images/mob-lib-bkg.png');

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/mob-lib-bkg@2x.png');
    }
  }
}
@include tablet-screen {
  .header-lib-bkg {
    background-image: url('../images/tab-lib-bkg.png');
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/tab-lib-bkg@2x.png');
    }
  }
}
@include desktop-screen {
  .header-lib-bkg {
    background-image: url('../images/desk-lib-bkg.png');

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/desk-lib-bkg@2x.png');
    }
  }
}
.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  &__text {
    @media screen and (max-width: 767px) {
      display: none;
    }
    font-weight: 500;
    line-height: 1.16;
    font-size: 30px;
  }
}

.header {
  color: var(--white);
  &__wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  &__nav {
    list-style: none;
    display: flex;
    position: relative;
    gap: 40px;
  }
  &__nav__btn {
    background-color: transparent;
    cursor: pointer;
    border: none;
    color: inherit;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    text-transform: uppercase;
    padding: 0;
  }
  &__nav__item {
    position: relative;
  }
  &__nav__item:first-child::after {
    content: '';
    background-color: var(--red);
    height: 3px;
    width: 35px;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  &__nav__item:nth-child(2)::after {
    content: '';
    background-color: var(--red);
    height: 3px;
    width: 69px;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  &__nav__item.remove-bar {
    &::after {
      content: none;
    }
  }
}
.search-form__btn {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  cursor: pointer;
  &:hover,
  :focus {
    transform: translateY(-2px);
  }
  &:active {
    transform: translateY(0px);
  }
}

.search-form {
  text-align: center;
  &__wrapper {
    position: relative;
    display: inline-block;
  }
}
.header__container {
  @include mob-screen {
    padding: 40px 20px 92px 20px;
  }
  @include tablet-screen {
    padding: 40px 32px 81px 32px;
  }
  @include desktop-screen {
    padding: 45px 32px 44px 32px;
  }
}
.search-form__input {
  outline: none;
  background-color: transparent;
  border: none;
  border-bottom: var(--white) 1px solid;
  color: var(--white);
  font-size: 14px;
  line-height: 1.14;
  padding-bottom: 4px;
  &::placeholder {
    color: var(--white);
    font-size: 14px;
    line-height: 1.14;
  }
  min-width: 280px;
  @include tablet-screen {
    min-width: 336px;
  }
  @include desktop-screen {
    min-width: 394px;
  }
}
.header__option__btn {
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  color: var(--white);
  padding: 12px 10px 12px 10px;
  text-align: center;
  min-width: 130px;
  border-radius: 5px;
  cursor: pointer;
  background-color: transparent;
  border: var(--white) 1px solid;
  &:hover,
  :focus {
    transform: translateY(-2px);
  }
  &:active {
    transform: translateY(0px);
  }
  &--active {
    background-color: var(--orange);
    border: var(--orange) 1px solid;
  }
  @include tablet-screen {
    min-width: 152px;
  }
  @include desktop-screen {
    min-width: 148px;
  }
  &-list {
    display: flex;
    justify-content: center;
    @include mob-screen {
      gap: 20px;
    }

    @include tablet-screen {
      gap: 32px;
    }
    @include desktop-screen {
      gap: 16px;
    }
  }
}
.hidden-in-header {
  display: none;
}
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}
input[data-autocompleted] {
  background-color: transparent !important;
}
.pagination-remove {
  display: none;
}
.darkmode-toggle {
  z-index: 100;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.main-section {
  flex: 1;
}
.empty-library-text {
  font-size: 30px;
  @include tablet-screen {
    width: 700px;
    font-size: 46px;
    text-align: center;
  }
}
.sign-out-btn {
  position: absolute;
  left: -110px;
  top: 4px;
  font-size: 12px;

  text-transform: uppercase;
  color: var(--white);
  padding: 5 5 5 5;
  text-align: center;

  border-radius: 5px;
  cursor: pointer;
  background-color: transparent;
  border: var(--white) 1px solid;
  &:hover,
  :focus {
    transform: translateY(-2px);
  }
  &:active {
    transform: translateY(0px);
  }
}
